@{
    ViewData["Title"] = "mnkytv.com";
}


<div class="row">
    <div class="col-md-6">
        <h2>Movie Requests</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <td># Votes</td>
                    <td>Name</td>
                    <td>Year</td>
                </tr>
            </thead>
            <tr>
                <td>123</td>
                <td>Test #1</td>
                <td>2017</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h2>TV Series Requests</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <td># Votes</td>
                    <td>Name</td>
                    <td>Year</td>
                </tr>
            </thead>
            <tr>
                <td>123</td>
                <td>Test #1</td>
                <td>2017</td>
            </tr>
        </table>
    </div>
</div>
